<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
    
    <header>
        <div class="header">
            <h1>Blog - <a href="https://github.com/gumissek?tab=repositories" target="_blank">Gumissek</a></h1>
        </div>
        
        <div class="button-container">
            <p><a href="/addPost">Add new post</a></p>
        </div>
        <div class="button-container">
            <p><a href="/">All posts</a></p>
        </div>
        <div class="button-container">
            <p><a href="https://documenter.getpostman.com/view/41964252/2sAYkLnH8A" target="_blank">API docs</a></p>
        </div>
    </header>
    <main>
        

